.business_Heading{
    width: 70%;
    padding-top: 80px;
    margin-left: 200px;
    flex-direction:column;
}
.loadmore{
    width: 10%;
    height: 50px;
    margin: 0 636px;
    background-color: blue;
    border: none;
}
.loadmore a{
    color: white;
    margin: 0 35px;
}